<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../form.css" />
    <script
      src="https://kit.fontawesome.com/3a76793a64.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <span id="title">Login Form</span>
      <div id="log-in-form">
        <form action="/log-in" method="POST">
          <label for="username"
            ><i class="fa-solid fa-user"></i
            ><input type="text" placeholder="Email" name="username"
          /></label>
          <label for="password"
            ><i class="fa-solid fa-lock"></i>
            <input type="text" placeholder="Password" name="password"
          /></label>
          <button type="submit">Log In</button>
        </form>
        <span>Not a member? <a href="/sign-up">Sign up Now!</a></span>
      </div>
    </div>
  </body>
</html>
