<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../form.css" />
    <script
      src="https://kit.fontawesome.com/3a76793a64.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <span id="title">New Folder Form</span>
      <div id="log-in-form">
        <form action="/add/folder" method="POST">
          <label for="folderName"
            ><i class="fa-solid fa-folder"></i
            ><input placeholder="New Folder Name" type="text" name="title"
          /></label>
          <input
            type="hidden"
            name="username"
            value="<%= currentUser.email %>"
          />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
