:root {
  --color1: #4d4d4d; /* RGB: (77,77,77) */
  --color2: #3c3c3c; /* RGB: (60,60,60) */
  --color3: #1e1e1e; /* RGB: (30,30,30) */
  --color4: #111111; /* RGB: (17,17,17) */
  --color5: #000000; /* RGB: (0,0,0) */
  --color6: #eeeeee;
  --color7: #5c5470;
}
span {
  text-align: center;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#log-in-form {
  padding: 40px 20px;
  width: 250px;
  background-color: white;
}
.container {
  display: flex;
  background-color: var(--color1);
  flex-direction: column;
  box-shadow: 0px 2px 4px rgb(0, 0, 0.2);
  border-radius: 5px;
}

body div i {
  padding: 10px;
}
body div label {
  border-radius: 5px;
  background-color: var(--color1);
  box-shadow: 0px 2px 4px rgb(0, 0, 0.2);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
body div input {
  width: 100%;

  border: none;
}

button {
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: var(--color1);
  cursor: pointer;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

#title {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
  margin-top: 20px;
}
